html,
body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 0.3px;
}

a {
  text-decoration: none;
}

.left-container,
.right-container {
  width: 50%;
  height: 100%;
  vertical-align: top;
}

.outer-left,
.right-inner {
  padding: 50px;
}

.left-container{
  background: #CDA34F;
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left:0;
}

.right-container{
  background: #fff;
  float: right;

}

.square{
  width: 90%;
  height: 25%;
  background-color: #fff;
  margin: auto;
  position: relative;
  top: 25%;

}

.info{
  text-align: right;
  position: relative;
}

.img {
  background: url('./Asset/circle-cropped.png') center center no-repeat;
  width: auto;
  height: auto;
  position: relative;
}